<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Form</title>
  </head>
  <body>
    <h2><%= locals.loginErrorMsg %></h2>
    <form action="/login" method="post">
      <label>Username</label>
      <input type="text" class="username" id="username" name="username" />
      <label>Password</label>
      <input type="password" class="password" id="password" name="password" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
