* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #051f3f;
}

.page_header {
  width: 50%;
  color: white;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top: 18%;
  left: 25%;
  display: flex;
  justify-content: space-between;
}

a {
  color: white;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

.search_git_user {
  width: 50%;
  height: 65px;
  background-color: #0e335d;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 10px;
}

.user_profile {
  width: 50%;
  background-color: #0e335d;
  position: absolute;
  top: 35%;
  left: 25%;
  border-radius: 10px;
  padding-bottom: 20px;
}

.enter_git_user {
  margin: 15px;
  margin-left: 60px;
  background-color: #0e335d;
  width: 60%;
  border: none;
  line-height: 33px;
  font-size: 16px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.btn {
  margin-left: 3%;
  width: 20%;
  height: 55%;
  border: none;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  color: white;
  background-color: rgb(83, 98, 236);
}

.btn:hover {
  cursor: pointer;
}

.enter_git_user::placeholder {
  color: white;
}
input:focus {
  outline: none;
}

.git_logo {
  background-color: white;
  width: 15%;
  border-radius: 60%;
  margin: 25px;
  margin-top: 35px;
  display: inline-block;
}

.octocat {
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
  font-size: 17px;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

.octocat_subhead {
  margin-top: 5px;
  color: rgb(83, 98, 236);
}

.user_bio {
  margin-top: -40px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 23%;
  font-size: 17px;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

.git_joined_date {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  color: white;
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  margin-left: 130px;
}

.user_main_profile {
  background-color: #051f3f;
  width: 70%;
  height: 75px;
  margin: 20px;
  margin-left: 23%;
  color: white;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  padding-top: 10px;
  border-radius: 10px;
}

.count_profile {
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 16px;
}

.count_profile_values {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: -3%;
  justify-content: space-around;
}

.user_location {
  width: 60%;
  margin-left: 23%;
  display: inline-block;
}

.loc_name {
  vertical-align: top;
  margin-top: 3px;
  margin-left: 10px;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  background-color: #0e335d;
  border: none;
}

span {
  color: white;
}

.loc_name:hover {
  cursor: pointer;
}
/* .loc_name:hover + .map {
  display: block;
} */
.map {
  width: 100%;
  height: 30vh;
  color: black;
  display: block;
  background-color: white;
}

footer {
  width: 50%;
  height: 50px;
  background-color: #0e335d;
  position: absolute;
  left: 25%;
  top: 85%;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
