* {
  margin: 0px;
  padding: 0px;
}
.navBar {
  width: 100%;
  height: 10vh;
  margin-top: 10px;
  /* background-color: green; */
  display: flex;
  line-height: 8vh;
}

.logo {
  margin-left: 4%;
  color: rgb(255, 81, 0);
  font-size: 40px;
  font-weight: 10;
  line-height: 8vh;
}

.search_form {
  width: 120%;
  /* background-color: red; */
  height: 6vh;
  max-height: 8vh;
  margin-top: 9px;
  margin-left: 20px;
}

.search_form > .searchBar {
  width: 100%;
  /* margin-top: 10px; */
  height: 6vh;
  max-height: 8vh;
  border-radius: 25px;
  border: 2px solid black;
  background-color: rgb(243, 234, 223);
  font-size: 20px;
  padding-left: 15px;
}

.icons {
  width: 30%;
  list-style-type: none;
  margin-left: -2%;
  display: flex;
  justify-content: space-evenly;
}

.icons:hover {
  cursor: pointer;
  z-index: 5;
}

.icons_nav:hover {
  cursor: pointer;
  height: 50px;
  border-radius: 20px;
  display: flex;
  font-size: 18px;
  /* background-color: rgb(243, 234, 223); */
}

.sectionItems {
  width: 90%;
  margin-left: 5%;
  margin-top: 1%;
  /* background-color: red; */
}

.sectionItems_list {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sectionItems_list:hover {
  cursor: pointer;
}

.dash_board {
  width: 100%;
  height: 200px;
  background-color: blanchedalmond;
  margin-top: 10px;
  box-shadow: 3px 0px 4px 2px #888888;
}
.title {
  padding-top: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.dashboard_items {
  width: 100%;
  padding-top: 80px;
  display: flex;
  justify-content: space-evenly;
}
.dashboard_item > img {
  width: 100px;
  border-radius: 50%;
  height: 105px;
}

.signin_title {
  text-align: center;
}
.signin_sub {
  text-align: center;
}

.btn {
  margin-top: 10px;
}

.form-group label {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.form-group input {
  width: 40%;
  height: 5vh;
  border-color: 10px solid black;
  padding-left: 10px;
  border-radius: 10px;
}

.signin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 400px;
  height: 550px;
  background-color: white;
  border-radius: 20px !important;
  position: relative;
}

.signin_heading {
  display: flex;
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 30px;
  justify-content: space-between;
}
.signin_form {
  padding-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.signin_form label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 3px;
  font-weight: bold;
}
.signin_form input {
  border-radius: 4px;
  border: 1px solid black;
  width: 100%;
  height: 45px;
  padding: 10px;
}

.signin_form .btn {
  margin-top: 15px;
  width: 99%;
  background-color: black;
  border-radius: 100px;
  height: 50px;
  border: 1px solid black;
}

.signin_form .btn:hover {
  background-color: rgb(41, 41, 41);
  height: 55px;
  width: 100%;
  font-size: 18px;
  transition: 0.4s;
}

.forgot_password {
  margin-top: 3%;
  text-decoration: underline;
  text-align: end;
}

.signin_close {
  position: absolute;
  width: 10%;
  height: 8%;
  padding-top: 2px;
  text-align: center;
  /* background-color: red; */
  font-size: 25px;
  top: 0;
  z-index: 1;
  right: 5px;
  margin-top: -12%;
  color: white;
}

.signin_close:hover {
  cursor: pointer;
  background-color: rgb(232, 232, 232, 0.3);
  border-radius: 45%;
  transition: 0.8s;
}

.signin_heading button {
  background-color: white;
  color: black;
  padding: 8px 16px;
  border: 2px solid black;
  border-radius: 100px;
  margin-top: -10px;
}

.signin_heading button:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
  font-size: 18px;
  padding: 8px 16px;
  transition: 0.4s;
}

.profile-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: end;
  top: 8%;
  right: 5%;
  /* justify-content: center;
  align-items: center; */
}

.profile-content {
  width: 250px;
  height: 300px;
  background-color: white;
  border-radius: 10px !important;
  box-shadow: 0px 0px 9px 2px black;
  position: relative;
}

.profile-icons {
  margin-top: 6%;
  list-style-type: none;
}

.profile-icon {
  margin-left: -15px;
  font-size: 14px;
  font-family: sans-serif;
  width: 90%;
  padding: 8px;
}

.profile-icon:hover {
  background-color: rgb(227, 227, 227);
  cursor: pointer;
}

.profile_dashboard {
  width: 100%;
  height: 100px;
  margin-top: 2%;
  /* background-color: red; */
}

.profile_image {
  /* margin-top: 2%; */
  margin-left: 3%;
  width: 9%;
  height: 130px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(135, 103, 135);
}

.profile_imageIcon {
  width: 32px;
  height: 32px;
  box-shadow: 0px 0px 2px 2px rgb(108, 108, 108);
  position: absolute;
  margin-top: 87px;
  margin-left: 95px;
  border-radius: 50%;

  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_imageIcon :hover {
  cursor: pointer;
}

.profile_name {
  font-size: 45px;
  display: inline-block;
  margin-left: 40px;
  vertical-align: top;
  font-family: "Times New Roman", Times, serif;
}

.edit_profileIcon {
  margin-top: 18px;
  width: 35px;
  height: 35px;
  background-color: #ededed;
  box-shadow: 0px 0px 2px 1px rgb(108, 108, 108);
  display: inline-block;
  margin-left: 20px;
  border-radius: 50%;
  vertical-align: top;
  position: relative;
}

.edit_icon {
  position: absolute;
  left: 17%;
  top: 10%;
}
.edit_profileIcon:hover {
  cursor: pointer;
}

.update_profile_page {
  /* background-color: gray; */
  display: flex;
}

.profile_page_header {
  margin-bottom: 3%;
  margin-top: 3%;
  font-size: 20px;
  width: 100%;
  height: 5px;
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
}

.edit_icons {
  margin-left: 5%;
  width: 15%;
  height: 130px;
  background-color: rgb(191, 191, 191);
  border-radius: 3px;
}

.edit_icons > ul > li {
  font-size: 14px;
  list-style-type: none;
}

.edit_profile {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  border-radius: 5px;
}
.profile_bio {
  margin-left: 5%;
  width: 70%;
}

.view_profile {
  width: 12%;
  height: 25px;
  padding: 2px;
  font-size: 14px;
  text-decoration: underline;
  line-height: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
}
.profile_table {
  border-collapse: collapse;
  margin: 10px;
}

.profile_row {
  border: 1px solid black;
}

.sell_page {
  text-align: center;
}

.sell_page > hr {
  width: 50%;
  margin-left: 25%;
}

.shop_name {
  /* background-color: red; */
}

.shop_name > input {
  height: 40px;
  width: 35%;
  font-size: 16px;
  padding-left: 10px;
}

.shop_name > button {
  width: 12%;
  height: 40px;
  border: 1px solid black;
  background-color: white;
}

.create_shop > button {
  margin-top: 20px;
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid black;
}

.create_shop > button:hover {
  background-color: #dadada;
}

.shophome_header {
  margin-top: 15px;
  width: 100%;
  height: 170px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
}

.shop_details {
  margin-left: 5%;
  width: 30%;
  height: 170px;
  /* background-color: yellow; */
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
}

.owner_details {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-right: 5%;
  width: 20%;
  height: 170px;
  /* background-color: blue; */
  text-align: center;
}

.shop_img {
  width: 35%;
}

.shop_name {
  font-size: 25px;
}

.editshop_btn {
  width: 100px;
  height: 40px;
  padding: 5px;
  border: none;
  background-color: gray;
  color: white;
}

.shop_items {
  margin-top: 20px;
  width: 100%;
  height: 400px;
  /* background-color: red; */
}

.add_items {
  margin-left: 10%;
  width: 50%;
  height: 400px;
  /* background-color: green; */
}

.items_form {
  margin-left: 10%;
}

.items_form > .htmlForm-group > input {
  width: 90%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid black;
  margin-top: 2px;
  padding: 10px;
}

.addProd_title {
  margin-top: 5%;
  text-align: center;
  margin-bottom: 5px;
  color: orange;
}

.items_form > .htmlForm-group > label {
  margin-top: 5px;
}

.items_display {
  width: 100%;
  height: 200px;
  background-color: red;
}
