* {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

h1 {
  background-color: #67c7bc;
  text-align: center;
  font-family: sans-serif;
  margin-top: 20px;
  margin-bottom: 5px;
}

.quote_body {
  width: 50%;
  background-color: #67c7bc;
  position: absolute;
  top: 25%;
  left: 25%;
  box-shadow: 5px 10px 18px rgb(138, 138, 138);
  border-radius: 3px;
  display: inline-block;
}

.btn {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  width: 50%;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 16px;
  font-family: sans-serif;
  background-color: white;
  margin-left: 25%;
  display: block;
}

.btn:hover {
  cursor: pointer;
}

.quote_text {
  font-size: 16px;
  font-family: sans-serif;
  display: inline-block;
  padding: 5px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: #67c7bc;
}

/* count number of quotes */
.footer {
  width: 50%;
  position: absolute;
  background-color: #67c7bc;
  top: 70%;
  left: 25%;
  box-shadow: 5px 10px 18px rgb(138, 138, 138);
  border-radius: 3px;
  display: inline-block;
  font-size: 16px;
  font-family: sans-serif;
}

.quote_footer {
  display: inline-block;
  margin: 10px;
  background-color: #67c7bc;
}
