.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.info input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
}

button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
}
button:hover {
  cursor: pointer;
}

.employees {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.employee {
  width: 700px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
}

.employee h3 {
  padding: 20px;
}
