<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete</title>
  </head>
  <body>
    <form action="/delete" method="post">
      <table>
        <tr>
          <td>Book Id</td>
          <td><input type="number" class="bookid" name="BookID" /></td>
        </tr>
        <tr>
          <td><button type="submit">Submit</button></td>
          <td></td>
        </tr>
      </table>
    </form>
  </body>
</html>
